.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
}
.container{
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}