.wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.textWrapper{
    font-weight: bold;
}

.navigateButton{
    width: 100%;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    color: #000;
    font-size: 14px;
}
